<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    internalLogLevel="Info"
    internalLogFile="c:\log\internal-nlog.txt">
  
  <!-- 啟用 ASP.NET Core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <!-- log 儲存目標 -->
  <targets>
    <!-- 儲存目標類型為 "檔案"  -->
    <target xsi:type="File" name="f" fileName="c:\log\reactCore3A-${shortdate}.log"
            layout="${longdate} ${level} ${message} --- ${logger} ${exception:format=tostring}" />
  </targets>
  
  <!-- 設定 logger 名稱與 log 儲存目標的對應 -->
  <rules>
    <!-- 所有 log -->
    <logger name="*" minlevel="Trace" writeTo="f" />
  </rules>
  
</nlog>